body{
    background-image: url('https://wallpaperaccess.com/full/2221965.jpg');
    background-size: cover;
    background-position: relative;
    background-repeat: no-repeat;
    max-width: 100%;
}
.conteiner{
    bo
}